@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=SUSE:wght@100..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
	--page-bg: #0d1117;
	--border: #3d444d;
	--content-bg-alt: #151b23;
	--text: #f0f6fc;
	--text-alt: #7c828b;
	--blue-bg: #111d2f;
	--text-blue: #3d84de;
	--text-links: #4493f8;
	--border-blue: #1f6feb;
	--red: #f85149;
	--green: #3fb950;
	--yellow: #d29922;
	--grey: #9198a1;
	--button-grey: #212830;
	--button-green: #238636;
}

html {
	font-family: "IBM Plex Sans", sans-serif;
	text-rendering: optimizeLegibility;
	width: 100%;
	font-smooth: always;
	scroll-behavior: smooth;
	text-align: center;
	background: var(--page-bg);
	color: var(--text);
	height: 100%;
	cursor: default;
}

body {
	height: 100%;
}

a {
	color: var(--text-links);
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

a:visited {
	color: var(--text-links);
	text-decoration: none;
}

::-webkit-scrollbar {
	scrollbar-width: none;
}

::-webkit-scrollbar-track {
	background: var(--page-bg);
}

::-webkit-scrollbar-thumb {
	background: var(--border);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--text-alt);
}

table {
	margin: auto;
	width: auto;
	border-spacing: 0;
	border-collapse: separate;
}

table tr td {
	border-top: 1px solid var(--border);
}

table td,
table th {
	text-align: left;
	padding: 8px;
}

table tr:last-child td {
	border-bottom: 1px solid var(--border);
}

table td:first-child {
	border-left: 1px solid var(--border);
}

table td:last-child {
	border-right: 1px solid var(--border);
}

table tr:first-child td:first-child {
	border-top-left-radius: 8px;
}

table tr:first-child td:last-child {
	border-top-right-radius: 8px;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 8px;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}

code {
	background-color: var(--blue-bg);
	border-radius: 4px;
	padding: 4px;
}

input {
	background-color: var(--content-bg-alt);
	color: var(--text);
	accent-color: var(--border-blue);
	border: none;
}

input:focus {
	outline: none;
	border: 1px solid var(--border-blue);
}

ul {
	list-style: none;
	text-align: left;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
