# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: build go

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: "1.24.11"
          cache-dependency-path: backend/go.sum

      - name: install dependencies
        run: go get .

      - name: Build Windows executable
        run: |
          GOOS=windows GOARCH=amd64 go build -o github-pull-request-dashboard.exe

      - name: Build Mac executable
        run: /
          GOOS=darwin GOARCH=arm64 go build -o github-pull-request-dashboard

      - name: Upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: github-pull-request-dashboard-windows-executable
          path: backend/github-pull-request-dashboard.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: github-pull-request-dashboard-mac-executable
          path: backend/github-pull-request-dashboard
